* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: black;
}

body {
    font-family: arial;

}

header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

header nav {
    display: flex;

}

header nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    
}

header nav a:hover {
    background: #f5f4f4;
}



.w60 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
    
}

#intro {
    text-align: center;
    background: #331863;
    color: white;
}